name: ci

on:
  push:
    branches: 
     - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/Dockerfile.backend
          push: true
          tags: dillax/dream-backend:${{ github.sha }}

      - name: Deploy to the Vm
        run: |
            echo "${{ secrets.SSH_KEY }}" > ~/ssh_key
            chmod 600 ~/ssh_key
            ssh -o StrictHostKeyChecking=no -i ~/ssh_key root@139.59.84.87<< EOF
              set -e
              IMAGE=dillax/dream-backend:${GITHUB_SHA}
              CONTAINER=dream-backend
              sudo docker stop $CONTAINER || true
              sudo docker rm -f $CONTAINER || true
              
              sudo docker run --name $CONTAINER --network dream-network -e DATABASE_URL="${{ secrets.DATABASE_URL }}" -e JWT_SECRET="${{ secrets.JWT_SECRET}}" -d -p 3000:3000 \$IMAGE
            EOF